.note {
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin-top: 20px;
    
}
.header {
    width: 100%;
    height: 25px;
    background-color: rgb(208, 173, 122);
    display: flex;
    justify-content: space-between;
}